html
    head
        title
    body
        - var books  = ['node','javascript'];
        each book in books
            p=book

        - for(var i=0;i<3;i++){
            p=i
        - }

        - var name = 'zfpx1';
        if name == 'zfpx'
            p=name
        else
            p 俺不认识你
